html {
  background-color: aliceblue;
}

.app {
  margin: 1rem auto;
  background-color: aliceblue;
}

.search {
  margin: 3rem auto;
  text-align: center;
}

.search input {
  width: 30%;
  height: 2.5rem;
  font-size: 1rem;
  padding-left: .5rem;
  border: .3rem solid orange;
  border-radius: .5rem;
}

.search input:focus-visible {
  outline: none;
}

.app ul {
  list-style: none;
  margin: 0 auto;
  width: 50%;
}

.app h1 {
  font-size: 2rem;
  color: #999;
}
